<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <fieldset>
        <legend>Вход</legend>
        <form id="loginForm">
            <p>
                <label for="username">Логин:</label>
                <input type="email" name="username" id="username" placeholder="Введите почту">
            </p>
            <p>
                <label for="password">Пароль:</label>
                <input type="password" name="password" id="password" placeholder="Введите пароль">
            </p>
            <p>
                <button type="submit">Войти</button>
            </p>
        </form>
        <p>Ещё нет аккаунта? <a href="/registration">Зарегистрироваться</a></p>
    </fieldset>
    <script src="/js/login.js"></script>
</body>
</html>